<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panshul.selfuel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Selfuel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevSpace2021">
        <activity android:name="com.panshul.selfuel.Activity.LoginPage"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.panshul.selfuel.Activity.Profile_Page"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.panshul.selfuel.Activity.SignUpPage"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.panshul.selfuel.Activity.MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.panshul.selfuel.Activity.LandingPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>